# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Flask specific
instance/
.webassets-cache

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.iml

# Operating system files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Logs
*.log

# Test and coverage
.coverage
.coverage.*
nosetests.xml
test-results/
*.cover
*.log

# Pytest
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.local
.env.production
.env.development
